html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
  color: white;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mainwrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  font-size: xx-large;
  background-color: #f60;
  min-height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer {
  background-color: #f60;
  min-height: 5rem;
  margin-top: auto;
  bottom: 0;
}

.headerValue {
  text-align: center;
  margin-left: 2rem;
}

.footerValue {
  text-align: center;
  margin-top: 2.5rem;
}

.signup-form {
  background-color: #091c5a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 20rem;
  max-width: 20rem;
  margin: 15vh;
  margin-left: 85vh;
  padding: 1rem;
}

.title {
  font-size: large;
  font-weight: 700;
}

.email {
  display: flex;
  flex-direction: column;
}

.password {
  display: flex;
  flex-direction: column;
}

.Email-label {
  padding-bottom: 10px;
}

.Email-input {
  border-radius: 5px;
  border: 1px solid;
  min-height: 2rem;
}

.Pass-label {
  padding-bottom: 10px;
}

.Pass-input {
  border-radius: 5px;
  border: 1px solid;
  min-height: 2rem;
}

.submit {
  max-width: 10rem;
  min-height: 2rem;
  color: white;
  background-color: #f60;
  border: 0px;
  border-radius: 2px;
}

.submit:hover {
  cursor: pointer;
  font-weight: 700;
}

.registered {
  color: #091c5a;
  font-size: xx-large;
  text-align: center;
}

nav {
  font-size: large;
}

.divider {
  width: 100%;
  background-color: #091c5a;
  margin: 10px;
}

.description {
  color: #091c5a;
  font-size: x-large;
  text-align: center;
  margin-top: 15px;
  font-style: italic;
  font-weight: 800;
}

.Home {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #f60;
  margin-left: 10rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem;
}

.nextbutton {
  color: white;
  min-height: 50px;
  min-width: 100px;
  background-color: #091c5a;
  font-size: medium;
}

.nextbutton:hover {
  font-size: large;
}

.backbutton {
  color: white;
  min-height: 50px;
  min-width: 100px;
  background-color: #091c5a;
  font-size: medium;
}

.backbutton:hover {
  font-size: large;
}

.formSubmit {
  color: white;
  min-height: 50px;
  min-width: 100px;
  background-color: #f60;
  font-size: medium;
  margin-left: 2.5rem;
}

.formSubmit:hover {
  font-style: italic;
  font-size: large;
}

.longdivider {
  border: 5px solid #f60;
  background-color: #f60;
  height: 5px;
  width: 80%
}

hr {
  height: 10px;
  background-color: #f60;
  max-width: 80%;
  border-color: #f60;
}

h2.welcome {
  font-size: xx-large;
  margin-left: 25rem;
}

.inputfields {
  color: black;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-text {
  display: flex;
  justify-content: space-between;
  color: black;
}

.formdivider {
  height: 100%;
  margin: 10px;
}

.input-text input {
  border-radius: 5px;
  min-height: 20px;
  border-color: gray;
  font-size: medium;
}

.input-text.childcare,
.input-text.parental-leave,
.input-text.benefits,
.input-text.unpaid-care,
.input-text.household-hours,
.input-text.household-groceries,
.input-text.household-travel,
.input-text.household-transportation,
.input-text.household-utilities,
.input-text.household-leisure,
.input-text.relationship-status,
.input-text.relationship-rent,
.input-text.relationship-insurance,
.input-text.relationship-net,
.input-text.relationship-work_hours,
.input-text.relationship-tax_class,
.input-text.relationship-saving,
.input-text.relationship-debts,
.input-text.pension-points,
.input-text.pension-access,
.input-text.pension-value,
.input-text.pension-factor {
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

.input-text.household {
  flex-direction: column;
}

.input-text.relationship {
  flex-direction: column;
}

.input-text.pension {
  flex-direction: column;
}

.form3 {
  font-size: large;
  margin-left: 10rem;
}

text.question {
  margin-top: 10px;
}

input#childcare-hours,
input#childcare-hours-external,
input#childcare-hours-external-amount,
input#parental-leave-months,
input#parental-leave-date,
input#benefits,
input#unpaid-care-weekly-hours,
input#unpaid-care-external,
input#unpaid-care-external-amount,
input#unpaid-care-benefits,
input#household-hours,
input#household-groceries,
input#household-travel,
input#household-transportation,
input#household-utilities,
input#household-leisure,
input#relationship-status,
input#relationship-rent,
input#relationship-insurance,
input#relationship-net,
input#relationship-work_hours,
input#relationship-tax_class,
input#relationship-saving,
input#relationship-debts,
input#pension-points,
input#pension-access,
input#pension-value,
input#pension-factor {
  border-radius: 5px;
  min-height: 20px;
  max-width: 100px;
  border-color: gray;
  font-size: medium;
  margin-bottom: 5px;
}
