h2.center {
    font-size: xx-large;
    text-align: center;
    margin-right: 10rem;
}

h2.black_center{
    font-size: xx-large;
    color: black;
    text-align: center;
    margin-right: 10rem;
}
